@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,300i,400,400i,500,700i,800|Arya:400,700|Bubbler+One|El+Messiri:400,500,600,700|Lobster|Patrick+Hand+SC|Yesteryear');

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:400,700,900');
/*
font-family: 'Bubbler One', sans-serif;
font-family: 'El Messiri', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Yesteryear', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Arya', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;

Couleurs:
vert clair : #c6e07d
gris foncé : #44525e
gris clair : #f4f4f4
*/


header{
  background: linear-gradient(
  rgba(0, 0, 0, 0.30), 
  rgba(0, 0, 0, 0.30)
  ),url('../img/eedfindex.png') center center no-repeat;
  //border: 15px solid #fff;
  background-size: cover;
  text-align: center;
  height: 300px;
}

header a img{
  float: left;
  margin-top: 50px;
  margin-left: -30px;
  width: 160px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
header a img:hover{
  -webkit-transform:scale(1.15);
  transform:scale(1.15);
  cursor: pointer;
}

header h1{
  margin: -140px 0px 30px 0px;
  font-size: 60px;
  color: #fff;
  font-family: 'Lobster', cursive;  
  text-shadow: #000 1px 1px 3px;
}
header h2{
  color: #fff;
  font-family: 'Lobster', cursive;
  word-spacing: 6px;
  letter-spacing: 1px;
  text-shadow: #000 1px 1px 3px;
  margin-bottom: 50px;

}

/* effets apparition text header */

.vignets {
    opacity: 0;
   
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
.vignets.load {
    opacity: 1;
}
.vignets2 {
    opacity: 0;
   
    -webkit-transition: opacity 3s ease-in;
    -moz-transition: opacity 3s ease-in;
    -o-transition: opacity 3s ease-in;
    -ms-transition: opacity 3s ease-in;
    transition: opacity 3s ease-in;
}
.vignets2.load {
    opacity: 1;
}

/* navbar */

div.navbar{
  background: #c7dd87;
  border: #abbaba;
}
.navbar .collapse ul li a{
  color: #506262;
  font-size: 16px;
  font-family: 'Arya', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
}
.navbar .collapse ul li a:hover{
  color: #abbaba;
}
button#memberBtn{
  background: #44525e;
  border: none; 
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
}

button#memberBtn:hover{
   background: #66717a;
}

/* footer */

footer{
  clear: both;
  margin-top: 50px;
  background: #e1e1e1;
  font-size: 14px;
  color: #777777;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  // position: fixed;
  left: 0px;
  bottom: 0px;
}
footer a{
  color:  #777777;
  text-decoration: none;
}
footer a:hover{
  color:  #000;
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
}


/* PAGE ACCUEIL */

section#texteintro{
  font-family: 'Playfair Display', serif;
}
section#texteintro h2.textdesc{
  font-weight: bolder;
}
section#texteintro h3.textdesc{
  margin: 10px 0px 20px 0px;
  font-size: 20px;
  font-weight: bolder;
  line-height: 35px;
}

section#texteintro h3.divider_line-down::after {
  content: "";
  width: 1.5px;
  background-color: #e86c40;
  height: 70px;
  position: absolute;
  left: calc(50% - 0.5px);
  margin-top: 60px;
}
section#texteintro ul h4{
  margin-left: 100px;
}
section#texteintro ul{
  margin: 110px 0px 80px 20px;
}
section#texteintro ul li{
  list-style: none;
  margin-bottom: 5px;
  font-size: 16px;
}
section#texteintro ul li img{
  width: 18px;
}
section#texteintro #paperplane img{
  margin-top: 40px;
}

/* Bouton 'en savoir plus' */
section#texteintro ul #btnsavoirplus{
  margin: 20px 180px 20px 0px;
}
section#texteintro ul a{
  border: 2px solid #bcdd61;
  border-radius: 10px;
  background: #bcdd61;
  color: black;
  text-decoration: none;
  padding: 3px 4px 4px 4px;
  font-size: 13px;
}
section#texteintro ul a:hover{
  border: 2px solid #bcdd61;
  background: #fff;
  color: #000;
}


  /* événements accueil */

section#evenements{
  margin-top: 10px;
}
section#evenements h2{
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  letter-spacing: 1.5px;
  margin: 20px 0px 40px 0px;
}
section#evenements .prochainevent{
  width: auto;
  height: auto;
  background-color: #f4f4f4;
  margin: 20px 40px 20px 40px;
  border-radius: 5px;
  border: 1px outset #eee;
  box-shadow: 1px 1px 8px #ccc;
  padding: 5px 15px 0px 15px;
  font-family: 'Alegreya Sans SC', sans-serif;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
section#evenements .prochainevent a{
  text-decoration: none;
}
section#evenements .prochainevent a h3{
  color: black;
}
section#evenements .prochainevent:hover{
  -webkit-transform:scale(1.08);
  transform:scale(1.08);
 
}
section#evenements .prochainevent p{
  margin-bottom: 33px;
  font-size: 15px;
}

/* GALLERIE ACCUEIL */

.bg-4 h2{
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  color: white;
  letter-spacing: 1.5px;
  margin-bottom: 35px;
}

/* PAGE DOCUMENTS */

#containerdoc a i.fa{
  font-size: 100px;
  margin-top: 50px;
}
#containerdoc #zonedocs1 a i.fa:hover{
  color: #bcdd61;
}
#containerdoc #zonedocs2 a i.fa:hover{
  color: #34495e;
}
#containerdoc h3{
  padding-top: 30px;
  font-family: 'Lobster', cursive;
  font-size: 26px;
}
#containerdoc h4{
  margin-top: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
#containerdoc h5{
  font-family: 'Alegreya Sans SC', sans-serif;
}
#zonedocs2{
  border: 2px outset #b8cc84;
  background: #c6e07d;
  margin-top: 80px;
  padding-bottom: 40px;
  border-radius: 10px;
  color: #34495e;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 3px 3px 10px grey;
}
#zonedocs2 h3{
  color: #fff;
  text-shadow: #000 1px 1px 3px;
}
#zonedocs2 a i{
  color: #fff;
}
#zonedocs1 a i{
  color: #34495e;
}


/* PAGE L'ASSOCIATION */

#containerassoc h1{
  margin: 60px 0px 40px 0px;
}
#quisommesnous{
  font-family: 'Alegreya Sans SC', sans-serif;
}
#quisommesnous h3.lobster{
   font-family: 'Lobster', cursive;
   font-size: 35px;
   margin-bottom: 25px;
}
#containerassoc #textehaut{
  text-align: justify;
  letter-spacing: 1.5px;
  margin-top: 5px;
  font-size: 16.5px;
}
#containerassoc aside{
  background: #c6e07d;
  color: #000;
  box-shadow: 4px 4px 10px grey;
}
#containerassoc #branches{
  border: 1px dashed #fff;
  border-width: 4px;
  margin: 10px 0px 10px -4px; 
  padding: 10px 0px 10px 0px;
}
#containerassoc #branches h4{
  color: #fff;
  word-spacing: 2px;
}
#containerassoc #branches ul li{
  list-style: none;
}
#containerassoc #branches p{
  word-spacing: 1px;
  font-family: arial;
  line-height: 22px;
}
#containerassoc #textebas{
  text-align: justify;
}
#containerassoc #textebas h4{
  margin-top: 40px;
}
#containerassoc #textebas p,
.nocontainer #textedroite p,
.nocontainer #textegauche li{
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 10px;
}
.nocontainer #textedroite,
.nocontainer #textegauche ul{
  margin-bottom: 30px;
}
.nocontainer #scoutisme{
  margin-top: 70px;
  background: #ecf0f1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 87.5%;
  float: right;
  box-shadow: -11px -16px 4px #c6e07d;
}
.nocontainer #scoutisme #textedroite{
  margin-right: 190px;
  margin-left: 15px
}
.nocontainer #valeurs{
  margin-top: 70px;
  margin-bottom: 90px;
  background: #c6e07d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 87.5%;
  float: left;
  color: #000;
  text-align: justify;
  box-shadow: 11px -16px 3px #e6e6e6;
}
.nocontainer #valeurs h3{
  color: #fff;
  text-shadow: #000 1px 1px 3px;
}
.nocontainer #valeurs ul li{
  list-style: none!important;
}
.nocontainer #valeurs ul li img{
  width: 19px;
}
.nocontainer #valeurs #textegauche{
  margin-left: 150px;
  margin-right: 15px;
}

/** Responsive pour les mobiles en version paysage **/
@media screen and (max-width: 480px) {
  #containerassoc #textehaut{
  margin-bottom: 40px;
  }
  #containerassoc #textebas{
  margin-top: 80px;
  }
  .nocontainer #valeurs #textegauche{
  margin-left: 20px;
  }
  .nocontainer #scoutisme #textedroite{
  margin-right: 60px;
  }
  .nocontainer #scoutisme #textedroite p{
  text-align: justify;
  }
}
/** Responsive pour les tablettes **/
/** ajouter and min-width car sinon les critères ne seront pas pris en compte, mais mangé par le précédent **/
@media screen and (min-width: 481px) and (max-width: 780px) {
  #containerassoc #textehaut{
  margin-bottom: 60px;
  }
  #containerassoc #textebas{
  margin-top: 100px;
  }
  .nocontainer #valeurs #textegauche{
  margin-left: 20px;
  }
  .nocontainer #scoutisme #textedroite{
  margin-right: 60px;
  }
  .nocontainer #scoutisme #textedroite p{
  text-align: justify;
  }
}

@media screen and (min-width: 781px) and (max-width: 1200px) {
  
  #containerassoc #textehaut{
  margin-bottom: 10px;
  }
  #containerassoc #textebas{
  margin-top: 100px;
  }
  .nocontainer #valeurs #textegauche{
  margin-left: 20px;
  }
  .nocontainer #scoutisme #textedroite{
  margin-right: 60px;
  }
  .nocontainer #scoutisme #textedroite p{
  text-align: justify;
  }
}

@media screen and (min-width: 1201px) {
  #containerassoc #textehaut{
  margin-bottom: 0px;
  }
  #containerassoc #textebas{
  margin-top: 500px;
  }
}


/* PAGE CONTACT */

#containercontact h1{
  font-family: 'Alegreya Sans SC', sans-serif; 
  margin: 50px 0px 60px 0px;
}
#containercontact h2{
  font-family: 'Lobster', cursive;
  margin-bottom: 15px;
}
.localisation #carte{
  margin-bottom: 70px;
}
.localisation .adress ul{
  margin-bottom: 50px;
}
.localisation .adress ul li{
  list-style: none;
  font-size: 18px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #34495e;
}
.localisation #contact{
  margin-left: 40px;
}
.localisation #contact form{
  background: #44525e;
  border: 1px outset #b8cc84;
  border-radius: 10px;
  color: #fff;
  margin: 50px 10px 0px 10px;
  padding: 50px 25px 0px 25px;
  box-shadow: 4px 4px 10px grey;
}
.localisation #contact form .form-group{
  margin-bottom: 30px;
}
.localisation #contact form textarea#commentaire{
  padding-bottom: 102px;
  margin-top: 40px;
}
.localisation #contact form button{
  background: #c6e07d;
  color: #44525e;
  border: 2px solid #c6e07d;
}
.localisation #contact form button:hover{
  background: #fff;
  border: 2px solid #c6e07d;
  color: #44525e;
}


/* PAGE PHOTOS */


.clear      { clear:both; }
.photo-link   { padding:5px; margin:5px; border:1px solid #ccc; display:block; width:150px; float:left; }
.photo-link:hover { border-color:#999; }

#zoneblanchephoto #photogallery a i{
  font-size: 150px;
  display: flex;
  
}
#photoprincipaux #btnphoto,
#photosecondaires #btnphoto{
  padding-bottom: 60px;
}
#zonenoirephoto h3,
#zoneblanchephoto h3{
  font-family: 'Fjalla One', sans-serif;
}